.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 280px;
  background-color: whitesmoke;
  border: none;
  box-shadow: 10px 10px 20px rgba(9, 30, 63, 0.2);

  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 40px;
}

.title {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
}
.label {
  margin-top: 20px;

  display: block;
}

.textAreaEmpty {
  width: 240px;
  height: 170px;
  resize: none;
  margin-top: 8px;
  padding: 8px;
  outline: none;
  border: 1px solid var(--icon-color);
}

.textAreaFilled {
  composes: textAreaEmpty;
  border: 1px solid var(--accent-color);
}
.buttonList {
  display: flex;
  justify-content: space-around;
  justify-content: center;
  margin-top: 15px;
}
.titleTextarea {
  font-size: 14px;
  line-height: 17px;
  border-radius: 0;
  margin-top: 20px;
  margin-bottom: 3px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  opacity: 0.8;
}
.buttonOpen {
  padding-top: 11px;
  padding-bottom: 11px;

  text-align: center;
  width: 127px;
  height: 40px;
  margin: 0 auto;
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  color: var(--main-color);
  background: var(--library-color);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border: none;
}
.buttonOpen:hover,
.buttonOpen:focus {
  box-shadow: none;
  background: var(--accent-color);
}

.buttonBack {
  min-width: 98px;
  padding-top: 11px;
  padding-bottom: 11px;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  background-color: var(--main-color);
  border: 1px solid var(--primary-text-color);
}

.buttonSave {
  min-width: 98px;
  padding-top: 11px;
  padding-bottom: 11px;
  text-align: center;
  margin-left: 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  color: var(--main-color);
  background: var(--accent-color);
  border: 1px solid var(--primary-text-color);
}
.buttonBack:hover,
.buttonBack:focus,
.buttonSave:hover,
.buttonSave:focus {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  background: var(--library-color);
}

@media screen and (min-width: 768px) {
  .box {
    width: 608px;
    height: 399px;
  }
  .textAreaBox {
    width: 568px;
    height: 170px;
  }
  .textAreaEmpty {
    width: 568px;
    height: 170px;
  }

  .buttonWrapper {
    padding-right: 5px;
  }
  .buttonWrapper > .buttonOpen {
    width: 80px;
  }

  .buttonBack,
  .buttonSave {
    width: 130px;
    height: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .buttonWrapper {
    padding-top: 11px;
    padding-bottom: 11px;
    padding-right: 80px;
    padding-left: 10px;
  }
  .buttonWrapper > .buttonOpen {
    width: 130px;
  }
}
