
.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:280px;
  background-color: whitesmoke;
  border: none;
  box-shadow: 10px 10px 20px rgba(9, 30, 63, 0.2);

  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 40px;
}

.title{
    margin-bottom: 20px;
    font-weight: 500;
      font-size: 16px;
      line-height: 1.25;
}
.label{
    margin-top: 20px;

    display: block;
}
.textAreaBox {
    width: 240px;
    height: 170px;
    resize: none;
    margin-top: 8px;
    padding: 8px;
}
.buttonList {
    display: flex;
    justify-content: space-around;
    justify-content: center;
    margin-top: 20px;
}
.titleTextarea{
  margin-top: 20px;
  font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
}
.button {
  padding-top: 11px;
  padding-bottom: 12px;

  text-align: center;
  min-width: 127px;
  height: 40px;
  margin: 0 auto;
  display: block;
  font-weight: 500;
    font-size: 14px;
    line-height: 1.21;
    color: var(--main-color);
    background: #6D7A8D;;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
      border: none;
}

.buttonBack {
  min-width: 99px;
  padding-top: 11px;
  padding-bottom: 12px;
  text-align: center;
  font-weight: 500;
    font-size: 14px;
    line-height: 1.21;
    background-color: var(--main-color);
    border: 1px solid var(--primary-text-color);
}

.buttonSave {
    min-width: 99px;
  padding-top: 11px;
  padding-bottom: 12px;
  text-align: center;
  margin-left: 16px;
    font-weight: 500;
      font-size: 14px;
      line-height: 1.21;
      color: var(--main-color);;
  background: var(--accent-color);
  border: 1px solid var(--primary-text-color);

}
.buttonBack:hover,
.buttonBack:focus,
.buttonSave:hover,
.buttonSave:focus{
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

