.wrapper {
   background-color: var(--main-color);
}

.section {
   padding: 30px 0 45px;
   background-image: linear-gradient(to right,
         rgba(9, 30, 63, 0.8),
         rgba(9, 30, 63, 0.8)), url('images/mobile/register/bg-image.jpg');
   background-position: bottom;
   background-repeat: no-repeat;
   background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
   .section {
      background-image: linear-gradient(to right,
            rgba(9, 30, 63, 0.8),
            rgba(9, 30, 63, 0.8)), url('images/mobile/register/bg-image@2x.jpg');
   }
}

@media screen and (min-width: 768px) {
   .section {
      padding: 65px 0 65px;
      background-image: linear-gradient(to right,
            rgba(9, 30, 63, 0.8),
            rgba(9, 30, 63, 0.8)), url('images/tablet/register/bg-image.jpg');
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: cover;
   }

   @media screen and (min-device-pixel-ratio: 2),
   (min-resolution: 192dpi),
   (min-resolution: 2dppx) {
      .section {
         background-image: linear-gradient(to right,
               rgba(9, 30, 63, 0.8),
               rgba(9, 30, 63, 0.8)), url('images/tablet/register/bg-image@2x.jpg');
      }
   }
}

@media screen and (min-width: 1280px) {
   .wrapper {
      display: flex;
   }

   .section {
      padding: 90px 75px 90px;
      background-image: linear-gradient(to right,
            rgba(9, 30, 63, 0.8),
            rgba(9, 30, 63, 0.8)), url('images/desktop/register/bg-image.jpg');
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: cover;
   }

   @media screen and (min-device-pixel-ratio: 2),
   (min-resolution: 192dpi),
   (min-resolution: 2dppx) {
      .section {
         background-image: linear-gradient(to right,
               rgba(9, 30, 63, 0.8),
               rgba(9, 30, 63, 0.8)), url('images/desktop/register/bg-image@2x.jpg');
      }
   }
}