.cardBookWrapper {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
}

.cardBookWrapper::before {
  position: absolute;
  top: 27px;
  left: 20px;
  content: url('../../../images/library/open-book.svg');
}

.title {
  font-weight: 600;
  font-size: 19px;
  line-height: 1.21;

  margin-bottom: 20px;
}

.cardBook {
  position: relative;
  background-color: var(--main-color);
  margin-bottom: 16px;
  padding-top: 20px;
  padding-bottom: 32px;
  padding-left: 54px;
  padding-right: 35px;
}

.cardBook:last-child {
  margin-bottom: 0;
}

.cardTitleBook::after {
  position: absolute;
  top: 29px;
  left: 56px;
  display: block;
  width: 22px;
  height: 17px;
  content: '';
  background: url('../../../images/sprite.svg#icon-open-book');
}

.cardTitle {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
  margin-bottom: 21px;
}

.cardTableBody > th {
  width: 40%;
}

.tableTitle {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
  color: var(--secondary-text-color);
}

.tableContent {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
  padding-top: 5px;
  padding-bottom: 5px;
}
.buttonWrapper {
  margin-top: 13px;
}
