.main {
  display: block;
  width: 152px;
  height: 40px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  background-color: var(--accent-color);
  color: var(--main-color);
  border: none;
  transition: transform 250ms linear, scale 250ms linear,
    box-shadow 250ms linear;
}
.main:disabled,
.transparent:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.main:hover,
.main:focus,
.transparent:hover,
.transparent:focus {
  transform: scale(0.9);
}

.transparent {
  composes: main;
  background-color: transparent;
  color: #000000;
  border: 1px solid #000000;
  transition: transform 250ms linear, scale 250ms linear,
    box-shadow 250ms linear;
}
