.form {
display: flex;
margin-top: 30px;    
}
@media screen and (max-width: 1260px) {
    .form{
        flex-direction: column;
        align-items: center;
    }   
    }
@media screen and (min-width: 768px) {
    .form{
        padding-left: 20px;
    }   
    }

.form__container {
display: flex;
flex-direction: column; 
}
@media screen and (min-width: 768px) {
.form__container{
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    } 
    }

.label {
position: relative;
        font-weight: 500;
        font-size: 14px;
        line-height: 2.71;
        color: black;   
}
@media screen and (min-width: 768px) {
.label{
 
        display: flex;
        flex-direction: column;
    }   
    }

@media screen and (min-width: 768px) {
    .label:not(:first-child) {
        margin-left: 27px;}
    
    }

@media screen and (min-width: 768px) {
    .label:nth-child(2) {
        margin-left: 0px;}
    
    }

@media screen and (min-width: 1260px) {
    .label:nth-child(2) {
        margin-left: 27px;}
    
    }

input{
    background: #F6F7FB;
    border: 1px solid #A6ABB9;
    box-sizing: border-box;
    height: 42px;
    margin-bottom: 10px;
    width: 100%;
    padding: 2px 13px;
  
}
input:focus {
    background-color: white;
    }

.button {
width: 171px;
height: 42px;
background: #F6F7FB;
border: 1px solid black;
cursor: pointer;
-webkit-transition-duration: 0.4s;
transition-duration: 0.4s;  
}
@media screen and (max-width: 1260px) { 
    .button{
        margin-top: 35px;
    }
    }
@media screen and (min-width: 1260px) {
    .button{
        margin-left: 45px;
        margin-top: 37px;
    }        
    }
        
.button:hover,
.button:focus {
            background: orange;
            color: #F6F7FB;

}

@media screen and (min-width: 768px) {
    .title{
        width: 704px;
    } 
    } 
@media screen and (min-width: 1259px){
    .title{
        width: 346px;
    }   
    }
