.form {
  display: flex;
  margin-top: 30px;
}
@media screen and (max-width: 1260px) {
  .form {
    flex-direction: column;
    align-items: center;
  }
}

.form__container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .form__container {
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
  }
}

.label {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 2.71;
  color: black;
}
@media screen and (min-width: 768px) {
  .label {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .label:not(:first-child) {
    margin-left: 32px;
  }
}

@media screen and (min-width: 768px) {
  .label:nth-child(2) {
    margin-left: 0px;
  }
}

@media screen and (min-width: 1260px) {
  .label:nth-child(2) {
    margin-left: 27px;
  }
}

input {
  background: var(--bg-color);
  border: 1px solid var(--icon-color);
  box-sizing: border-box;
  height: 42px;
  margin-bottom: 10px;
  width: 100%;
  padding: 2px 13px;
}
input:focus {
  background-color: var(--main-color);
}

.button {
  width: 171px;
  height: 42px;
  background: var(--bg-color);
  border: 1px solid black;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
@media screen and (max-width: 1260px) {
  .button {
    margin-top: 35px;
  }
}
@media screen and (min-width: 1260px) {
  .button {
    margin-left: 45px;
    margin-top: 37px;
  }
}

/* .button:hover,
.button:focus {
  background: var(--accent-color);
  color: var(--bg-color);
} */
.button:disabled {
  opacity: 0.5;
}
@media screen and (min-width: 768px) {
  .title {
    width: 704px;
  }
}
@media screen and (min-width: 1259px) {
  .title {
    width: 346px;
  }
}
@media screen and (min-width: 768px) {
  .author {
    width: 336px;
  }
}
@media screen and (min-width: 1259px) {
  .author {
    width: 250px;
  }
}

@media screen and (max-width: 480px) {
  .yearPages {
    width: 280px;
  }
}
@media screen and (min-width: 768px) {
  .yearPages {
    width: 152px;
  }
}
@media screen and (min-width: 1260px) {
  .yearPages {
    width: 134px;
  }
}

.bookError {
  position: absolute;
  top: 80%;
  right: 2%;
  color: var(--accent-color);
  text-align: center;
  font-size: 12px;
}
