.form {
  display: flex;
  margin-top: 32px;
  padding: 0 16px;
}

@media screen and (max-width: 1279px) {
  .form {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 1280px) {
  .form {
    margin-top: 40px;
  }
}

.form__container {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .form__container {
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
  }
}

.label {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 2.71;
  color: black;
}
@media screen and (min-width: 768px) {
  .label {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .label:not(:first-child) {
    margin-left: 32px;
  }
}

@media screen and (min-width: 768px) {
  .label:nth-child(2) {
    margin-left: 0px;
  }
}

@media screen and (min-width: 1260px) {
  .label:nth-child(2) {
    margin-left: 27px;
  }
  .label:not(:first-child) {
    margin-left: 16px;
  }
}

input {
  background: var(--bg-color);
  border: 1px solid var(--icon-color);
  box-sizing: border-box;
  height: 42px;
  width: 100%;
  padding: 2px 13px;
}
@media screen and (max-width: 479px) {
  input {
    margin-bottom: 20px;
  }
  .button {
    margin-bottom: 100px;
  }
}

input:focus {
  background-color: var(--main-color);
}

.button {
  width: 171px;
  height: 42px;
  background: var(--bg-color);
  border: 1px solid black;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  margin-top: 40px;
}
@media screen and (min-width: 1280px) {
  .button {
    margin-left: 48px;
    margin-top: 37px;
    width: 181px;
    margin-top: 38px;
  }
}
.button:disabled {
  opacity: 0.5;
}
@media screen and (min-width: 768px) {
  .title {
    width: 704px;
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 1280px) {
  .title {
    width: 346px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .author {
    width: 336px;
  }
}
@media screen and (min-width: 1280px) {
  .author {
    width: 250px;
  }
}

@media screen and (max-width: 480px) {
  .yearPages {
    width: 280px;
  }
}

@media screen and (min-width: 768px) {
  .yearPages {
    width: 152px;
  }
}
@media screen and (min-width: 1280px) {
  .yearPages {
    width: 134px;
  }
}

.bookError {
  position: absolute;
  top: 70px;
  right: 2%;
  color: var(--accent-color);
  text-align: center;
  font-size: 12px;
  /* line-height: 1.08; */
}

@media screen and (min-width: 768px) {
  .yearPages {
    width: 152px;
  }
  .bookError:not(:first-child) {
    top: 85px;
    line-height: 1;
  }
}

@media screen and (min-width: 1260px) {
  .yearPages {
    width: 134px;
  }
  .bookError {
    top: 80px;
  }
}
