.training {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.addPageBtn {
  position: absolute;
  display: inline-block;
  z-index: 999;
  text-align: center;
  font-size: 38px;
  width: 52px;
  height: 52px;
  left: 45%;
  top: 160%;
  transform: translateY(50%);
  color: var(--main-color);
  background-color: var(--accent-color);
  border: none;
  border-radius: 50%;
}
@media screen and (min-width: 1280px) {
  .training {
    flex-direction: row-reverse;
  }
}
.wrapperContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 10px;
}
@media screen and (min-width: 768px) {
  .wrapperContainer {
    display: flex;
    padding-bottom: 60px;
  }
  .trainingBookList {
    display: grid;
    grid-template-columns: 345px 340px 100px 100px;
  }
}
@media screen and (min-width: 1280px) {
  .wrapperContainer {
    margin-right: 32px;
    justify-content: space-between;
    padding-top: 0;
    padding-bottom: 0;
  }
}
