.training {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 20px;
}

.addPageBtn {
  position: absolute;
  display: inline-block;
  z-index: 999;
  text-align: center;
  font-size: 38px;
  width: 52px;
  height: 52px;
  left: 45%;
  transform: translateY(50%);
  color: var(--main-color);
  background-color: var(--accent-color);
  border: none;
  border-radius: 50%;
}

.arrowButton {
  width: 30px;
  height: 30px;
  position: absolute;
  color: var(--accent-color);
}
@media screen and (min-width: 1280px) {
  .training {
    flex-direction: row-reverse;
  }
}
.wrapperContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-bottom: 40px;
}
.buttonWrapper {
  display: flex;
  margin-top: 32px;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .wrapperContainer {
    padding-bottom: 60px;
  }
  .trainingBookList {
    display: grid;
    grid-template-columns: 345px 340px 100px 100px;
  }
  .training {
    padding-top: 32px;
  }
  .buttonWrapper {
    margin-top: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .wrapperContainer {
    margin-right: 32px;
    justify-content: space-between;
  }
  .training {
    padding-top: 0;
  }
}
