.dateWrapper {
  width: 280px;
  position: relative;
  background-color: var(--main-color);
  border: solid 1px var(--icon-color);
}

.dateInput {
  margin: 0;
  height: 42px;
  padding: 5px 35px;
  border: none;
  outline: none;
  font-weight: inherit;
  line-height: 2.71;
}

.dateInput::placeholder {
  color: var(--icon-color);
}

.dateIcon {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  color: var(--icon-color);
}

.dateArrow {
  position: absolute;
  top: 50%;
  right: 6%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}

@media screen and (min-width: 768px) {
  .dateWrapper {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .dateWrapper {
    width: 250px;
    margin-right: 44px;
  }
}
