.container {
    min-width: 280px;
    padding: 20px 20px 79px 20px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        min-width: 768px;
        padding: 40px 32px 61px 32px;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        width: 1280px;
        padding: 80px 16px 160px 16px;
    }
}