.trainingWrapper {
  display: flex;
  position: relative;
  margin-top: 40px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
  color: var(--secondary-text-color);
  border-top: 1px solid var(--icon-color);
  border-bottom: 1px solid var(--icon-color); 
}

.header{
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: center;
  padding-left: 70px;

}

.item {
  margin: 0;
  font-weight: 500;
  color: var(--main-text-color);
}
.list {
  padding: 20px;
}
.item {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  font-weight: 500;
  color: var(--main-text-color);
}

.icon {
  position: absolute;
  top: 30%;
  left: 5%;
  transform: translateY(-90%);
  margin-right: 5px;
}
.iconDelete {
  position: absolute;
  transform: translateY(-90%);
  top: 90%;
  left: 8%;
  z-index: 22;
}
.btnDelete {
  color: var(--bg-color);
  border: none;
  width: 20px;
  height: 20px;
  position: absolute;
  transform: translateY(-90%);
  top: 30%;
  left: 95%;
}
.title {
  color: var(--primary-text-color)
}
.itemsName {
  color: var(--secondary-text-color);
}

@media screen and (min-width: 768px) {
  .trainingWrapper {
    flex-direction: column;
  }
  .listHeader {
    margin-top: 40px;
  }
  .header {
    padding-top: 12px;
    padding-bottom: 12px;
    justify-content: flex-start;
    display: grid;
    grid-template-columns: 217px 162px 61px 50px;
    padding-left: 0;
    border-bottom: 1px solid var(--icon-color);
  }
  .list {
    display: grid;
  }
  .icon {
    display: grid;
    position: absolute;
    transform: translatex(-90%);
    top: 66%;
    left: 3%;

  }
  .iconDelete {
    position: absolute;
    transform: translateY(-90%);
    top: 40%;
    right: 5%;
    z-index: 22;
  }
  .btnDelete {
    color: transparent;
    border: none;
    width: 20px;
    height: 20px;
    position: absolute;
    transform: translateY(-90%);
    top: 90%;
    left: 95%;
  }
  .item {
    margin: 0;
    padding-left: 20px;
    display: grid;
    grid-template-columns: 179px 162px 61px 50px;
    border-top: none;
  }
  .itemBook:not(:first-child) {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .trainingWrapper {
    margin-top: 23px;
  }
  .header {
    padding-top: 10px;
    padding-left: 12px;
    grid-template-columns: 300px 180px 65px 65px;
  }
  .item {
    padding-top: 10px;
    padding-left: 12px;
    grid-template-columns: 280px 180px 65px 65px;
  }
}