.listHeader {
  margin-top: 20px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
  color: var(--secondary-text-color);
}
.header {
  display: none;
}
.item {
  font-weight: 500;
  color: var(--main-text-color);
}

.list {
  padding: 20px 0;
}
.itemBook {
  display: flex;
  flex-direction: row;
  align-items: baseline;

  font-weight: 500;
  color: var(--main-text-color);
}

.subtitle {
  display: inline-block;
  width: 70px;
  color: var(--secondary-text-color);
}
.dots {
  display: block;
  margin: 0;
  padding-left: 21px;
}
.author {
  margin-left: 50px;
}
.plug {
  display: none;
}

@media screen and (min-width: 768px) {
  .listHeader {
    margin-top: 40px;
  }
  .list {
    padding: 0;
  }
  .header {
    padding-top: 12px;
    padding-bottom: 12px;
    display: grid;
    grid-template-columns: 242px 180px 110px 100px;
    border-top: 1px solid var(--icon-color);
    border-bottom: 1px solid var(--icon-color);
  }
  .item {
    margin: 0;
    padding: 12px 0px;
    display: grid;
    grid-template-columns: 30px 200px 180px 125px 100px 10px;
    border-top: none;
  }
  .itemBook:not(:first-child) {
    display: none;
  }
  .trainingWrapper {
    margin-top: 40px;
  }

  .plug {
    composes: item;
    border-bottom: none;
  }
}
@media screen and (min-width: 1280px) {
  .trainingWrapper {
    margin-top: 23px;
  }
  .header {
    grid-template-columns: 345px 340px 100px 100px;
  }
  .item {
    grid-template-columns: 30px 315px 340px 100px 60px 40px;
    padding: 0;
    margin-bottom: 20px;
  }

  .list {
    padding-top: 23px;
  }
}
