.listHeader {
  margin-top: 20px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
  color: var(--secondary-text-color);
}
.header {
  display: none;
}
.item {
  margin: 0;
  font-weight: 500;
  color: var(--main-text-color);
}
.list {
  padding: 10px;
  padding-top: 40px;
  padding-bottom: 30px;
  border-top: 1px solid var(--icon-color);
  border-bottom: 1px solid var(--icon-color);
}
.itemBook {
  display: flex;
  flex-direction: row;
  align-items: baseline;

  font-weight: 500;
  color: var(--main-text-color);
}
.icon {
  margin-right: 5px;
}
.dots {
  display: block;
  margin: 0;
  padding-left: 21px;
}
.author {
  margin-left: 50px;
}

@media screen and (min-width: 1280px) {
  .trainingWrapper {
    margin-top: 23px;
  }
  .header {
    grid-template-columns: 345px 340px 100px 100px;
  }

  .item {
    grid-template-columns: 345px 340px 100px 60px 40px;
  }
}

@media screen and (min-width: 768px) {
  .listHeader {
    margin-top: 40px;
  }
  .header {
    padding-top: 12px;
    padding-bottom: 12px;
    display: grid;
    grid-template-columns: 242px 232px 100px 100px;
    border-top: 1px solid var(--icon-color);
    border-bottom: 1px solid var(--icon-color);
  }
  .list {
    margin: 0;
    padding: 12px 0px;
    display: grid;
    grid-template-columns: 242px 232px;
    border-top: none;
  }
  .itemBook:not(:first-child) {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .listHeader {
    margin-top: 23px;
  }
  .header {
    grid-template-columns: 345px 340px 100px 100px;
  }
  .list {
    grid-template-columns: 345px 340px;
  }
}
