.container {
   position: relative;
   width: 320px;
   padding: 20px 16px;
   margin: 0 auto;
}

@media screen and (min-width: 768px) {
   .container {
      min-width: 768px;
      padding: 32px 32px;
   }
}

@media screen and (min-width: 1280px) {
   .container {
      width: 1280px;
      padding: 40px 16px;
   }
}