.bookPlaceholder {
  position: absolute;
  color: var(--icon-color);
  padding: 10px;
}
.title {
  display: block;
  margin-top: 68px;
  background: var(--training-bg-color);
  box-shadow: 0px 2px 3px rgba(9, 30, 63, 0.1);
  padding: 18px 81px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: var(--main-color);
}
.dateContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bookLabel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 32px;
}
.date {
  position: relative;
  display: block;
  margin-bottom: 20px;
}
.error {
  color: red !important;
  font-size: 11px;
  position: absolute;
  bottom: -15px;
  left: 0;
  color: var(--error-cl);
}
.bookInput {
  position: relative;
  display: flex;
  width: 280px;
  height: 42px;
  margin-bottom: 32px;
  background: var(--main-color);
  box-shadow: inset 0px 1px 2px rgba(29, 29, 27, 0.15);
}
.bookLabel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}

.arrow {
  position: absolute;
  top: 50%;
  left: 90%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}

.btnAdd {
  cursor: pointer;
  width: 171px;
  height: 42px;
  margin: auto;
  background: var(--bg-color);
  border: 1px solid var(--primary-text-color);
}
.btnAdd:hover {
  color: var(--main-color);
  background-color: var(--accent-color);
  border: var(--accent-color);
}
.selectOption {
  color: var(--icon-color) !important;
}

@media screen and (min-width: 768px) {
  .form {
    width: 690px;
    margin-top: 40px;
    height: 60px;
    left: 32px;
    top: 374px;
  }
  .title {
    width: 704px;
    margin-top: 40px;
  }

  .dateContainer {
    margin-top: 28px;
    flex-direction: row;
    justify-content: flex-start;
  }
  .date {
    margin-bottom: 0;
  }
  .bookLabel {
    margin-top: 24px;
    flex-direction: row;
    flex-grow: 1;
  }
  .bookInput {
    margin: 0;
    margin-right: 50px;
    width: 483px;
    height: 42px;
  }
}
@media screen and (min-width: 1280px) {
  .form {
    margin-bottom: 25px;
    margin-top: 0;
    width: 928px;
    height: 60px;
  }
  .title {
    width: 928px;
    margin-top: 0;
  }
  .dateContainer {
    justify-content: center;
  }
  .date {
    margin-bottom: 0;
  }
  .bookLabel {
    margin-top: 24px;
    justify-content: flex-start;
  }
  .bookInput {
    width: 715px;
    margin-right: 32px;
  }
  .btnAdd {
    width: 181px;
  }
}
