.wrapper {
  padding: 48px 21px 48px 22px;
  text-align: center;
}

@media screen and (min-width: 480px) {
  .wrapper {
    padding: 42px 30px 48px;
  }
}

.wrapper_text {
  margin-top: 0;
  font-size: 16px;
  line-height: 1.38;
  margin-bottom: 24px;
}

.buttons {
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 20px;
}
.buttons > button {
  width: 97px;
  height: 40px;
}
@media screen and (min-width: 480px) {
  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
