.booksMobilesection {
  margin-top: 20px;
  margin-bottom: 32px;
  width: 280px;
}
@media screen and (min-width: 480px) {
  .booksMobilesection {
    width: 440px;
  }
}
.checkBoxWrapper {
  width: 34px;
}
.checkBoxWrapper > span:first-child {
  padding: 0;
}

.cardBook {
  display: flex;
  font-weight: 600;
  font-size: 19px;
  line-height: 1.21;

  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e0e5eb;
}

.cardBook:first-child {
  border-top: 1px solid #e0e5eb;
}

.cardBookWrapper {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
  margin-left: 19px;
}

.cardTableBody > th {
  color: var(--secondary-text-color);
}

.tableContent {
  padding-top: 5px;
  padding-bottom: 5px;
}
