.myGoals {
  padding: 20px;
}

.statistics {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

@media screen and (min-width: 480px) {
  .sectionStatistic,
  .sectionStatisticTraining {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .sectionStatistic {
    width: 704px;
  }
  .sectionStatisticTraining {
    width: 704px;
  }
  .statisticsWrapper {
    display: flex;
    width: 704px;
    flex-direction: column;
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .sectionStatistic {
    width: 1280px;
  }

  .sectionStatisticTraining {
    width: 1280px;
    margin-bottom: 40px;
  }
  .statisticsWrapper {
    display: grid;
    row-gap: 44px;
    column-gap: 32px;
    margin-top: 28px;
  }

  .statistics {
    display: flex;
    flex-direction: row;
  }
  .leftWrapper {
    display: flex;
    flex-direction: column;
    margin-right: 32px;
    width: 928px;
  }
  .sectionMuGoals {
    width: 288px;
    height: 329px;
    grid-row-start: 1;
    grid-row-end: 3;
  }
}
