.myGoals{
padding: 20px;

}
.statistics {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

@media screen and (min-width: 1280px) {
  .statistics {
    display: flex;
    flex-direction: row;
  }
  .leftWrapper {
    display: flex;
    flex-direction: column;
    margin-right: 32px;
  }
}
