.modal {
  padding: 31px 15px 38px 15px;
  width: 270px;
  height: 425px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--main-color);
  border: 1px solid none var(--main-color);
  box-shadow: 0px 2px 3px rgba(9, 30, 63, 0.1);
}
@media screen and (min-width: 768px) {
  .modal {
    width: 570px;
    height: 270px;
    padding: 15px 30px 30px 30px;
  }
}

.firstTitle {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 18px;
  line-height: 2.1;
  color: #242a37;
}
@media screen and (min-width: 768px) {
  .firstTitle {
    font-size: 19px;
    line-height: 2;
  }
}

.firstStep {
  position: absolute;
  left: 46px;
  top: 72px;
  margin-bottom: 8px;
  width: 137px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  color: #242a37;
}
@media screen and (min-width: 768px) {
  .firstStep {
    top: 53px;
    left: 61px;
    width: 270px;
    font-size: 16px;
    line-height: 2.3;
  }
}

.firstDesc {
  position: absolute;
  left: 65px;
  top: 114px;
  width: 190px;
  font-size: 14px;
  line-height: 1.2;
  color: #898f9f;
}
@media screen and (min-width: 768px) {
  .firstDesc {
    line-height: 2.7;
    top: 79px;
    left: 80px;
    width: 390px;
  }
}

.firstStepIcon {
  position: absolute;
  left: 15px;
  top: 74px;
}
@media screen and (min-width: 768px) {
  .firstStepIcon {
    left: 30px;
    top: 63px;
  }
}

.firstStepIconDesc {
  position: absolute;
  left: 46px;
  top: 116px;
}
@media screen and (min-width: 768px) {
  .firstStepIconDesc {
    top: 91px;
    left: 61px;
  }
}

.secondTitle {
  position: absolute;
  left: 15px;
  top: 185px;
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 18px;
  line-height: 2.1;
  color: #242a37;
}
@media screen and (min-width: 768px) {
  .secondTitle {
    top: 137px;
    left: 31px;
    font-size: 19px;
    line-height: 2;
  }
}

.secondStep {
  position: absolute;
  left: 46px;
  top: 228px;
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  color: #242a37;
}
@media screen and (min-width: 768px) {
  .secondStep {
    width: 330px;
    top: 175px;
    left: 61px;
    font-size: 16px;
    line-height: 2.3;
  }
}

.secondStepDesc {
  position: absolute;
  left: 65px;
  top: 271px;
  font-size: 14px;
  line-height: 1.2;
  color: #898f9f;
}
@media screen and (min-width: 768px) {
  .secondStepDesc {
    top: 201px;
    left: 80px;
    line-height: 2.7;
  }
}

.secondStepIcon {
  position: absolute;
  left: 15px;
  top: 228px;
}
@media screen and (min-width: 768px) {
  .secondStepIcon {
    left: 30px;
    top: 185px;
  }
}

.secondStepIconDesc {
  position: absolute;
  left: 46px;
  top: 273px;
}
@media screen and (min-width: 768px) {
  .secondStepIconDesc {
    top: 213px;
    left: 61px;
  }
}

.stepWrapper {
  margin-bottom: 25px;
}
@media screen and (min-width: 768px) {
  .stepWrapper {
    margin-bottom: 0;
  }
}

.okBtn {
  position: absolute;
  left: 71px;
  top: 347px;
  width: 127px;
  font-size: 14px;
  line-height: 2.7;
  color: var(--main-color);
  background: var(--accent-color);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border: none;
}
@media screen and (min-width: 768px) {
  .okBtn {
    display: none;
  }
}
