.lang {
  position: absolute;
  left: 32px;
  top: 7px;
}

.langIsLoggedIn {
  position: absolute;
  left: 65px;
  top: 13px;
}

@media screen and (min-width: 768px) {
  .lang {
    left: 90px;
  }

  .langIsLoggedIn {
    top: 13px;
    left: 90px;
  }
}

@media screen and (min-width: 1280px) {
  .langIsLoggedIn {
    left: 65px;
  }
}

.currentFlag:hover {
  visibility: hidden;
}

.langSite {
  position: absolute;
  right: 0;
  top: -30px;
  transform: scaleY(0.3);
  transition: 200ms;
}

.langSite__linkOther {
  visibility: hidden;
}

.langSite:hover {
  transform: scaleY(1);
  top: -6px;
}

.langSite:hover .langSite__linkOther {
  visibility: visible;
}

.langSite__item {
  margin: 6px 0;
  cursor: pointer;
}
