.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
  position: relative;
}

.loggedIn {
  justify-content: space-between;
}

.header {
  height: 60px;
  border-bottom: 1px solid var(--main-color);
  box-shadow: 0px 2px 3px rgba(9, 30, 63, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  position: relative;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-left: 16px;
    padding-right: 16px;
    justify-content: space-between;
  }

  .header {
    margin: 0 -16px;
  }
}

.logo {
  font-family: 'Abril Fatface';
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: var(--primary-text-color);
  text-decoration: none;
  cursor: pointer;
}
