.nav {
    height: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 120px;
    transform: translateY(-50%);
}

.nav::after {
    content: "";
    height:33px;
    border-right: 1px solid #E0E5EB;
}

.nav_link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33px;
    height: 33px;
    margin-right: 5px;
    border-radius: 50%;
    outline: none;
}

.nav_link:first-child {
    margin-right: 7px;
}

.nav_link:hover,
.nav_link:focus {
    transition: background-color 500ms cubic-bezier(.61, .36, .46, .9);
    background-color: #f5f7fa;
};

.activeLink {
    border-radius: 50%;
    background-color: #f5f7fa;
}

.navSvg {
    width: 20px;
    height: 17px;
}

