.container {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 0 auto;
}

.googleLink {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--accent-color);
  font-weight: 700;
  width: 150px;
  font-size: 16px;
  line-height: 2.37;
  text-decoration: none;
  margin: 0 auto 25px;
  color: #707375;
  background-color: var(--goals-bg-color);
  box-shadow: 0px 2px 2px rgb(9 30 63 / 15%);
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.relative {
  position: relative;
}

.label {
  position: relative;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  color: var(--main-color);
}

.label::after {
  content: ' *';
  color: #f25137;
}

.input {
  width: 280px;
  margin-bottom: 20px;
  margin-top: 8px;
  padding: 14px 8px;
  outline: none;
  border: none;
  background: var(--goals-bg-color);
  box-shadow: inset 0px 1px 2px rgba(29, 29, 27, 0.15);
}

.errInput {
  composes: input;
  color: #f25137;
}

.input:focus {
  outline: 2px solid var(--accent-color);
}

.input:focus::placeholder {
  color: var(--goals-bg-color);
}

.input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  color: var(--icon-color);
}

.errName,
.errEmail,
.errPassword,
.errConfirmPassword {
  position: absolute;
  width: 100%;
  left: 0;
  top: 17%;
}

.errEmail {
  top: 39%;
}

.errPassword {
  top: 81%;
}

.errConfirmPassword {
  top: 81%;
}

.errText {
  font-size: 12px;
  color: #f25137;
}

.btn {
  box-sizing: border-box;
  border: none;
  width: 280px;
  height: 60px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  color: var(--main-color);
  background-color: var(--accent-color);
  transition: background-color 250ms ease-in-out;
}

.btn:hover {
  cursor: pointer;
  background-color: #d15807;
}

.text {
  font-weight: 500;
  font-size: 13px;
  line-height: 1.23;
  text-align: center;
  color: var(--secondary-text-color);
}

.signupLink {
  text-decoration: none;
  color: var(--accent-color);
  transition: color 250ms ease-in-out;
}

.signupLink:hover {
  cursor: pointer;
  color: #d15807;
}

.icon {
  position: absolute;
  top: 42px;
  right: 20px;
  width: 20px;
  height: 12px;
  cursor: pointer;
}

/** min-width 768px breakpoint */
@media screen and (min-width: 768px) {
  .container {
    width: 400px;
    margin: 0 auto;
    padding: 40px;
    background-color: var(--main-color);
  }

  .input {
    width: 320px;
  }

  .btn {
    width: 320px;
  }

  .googleLink {
    margin: 0 auto 30px;
  }

  .form {
    margin-bottom: 20px;
  }

  .label {
    color: var(--secondary-text-color);
  }
}
