.form {
  margin-top: 40px;
  position: relative;
  display: block;
  padding: 22px 20px 22px;
  min-width: 280px;
  height: 340px;
  background-color: var(--main-color);
  box-shadow: 0px 2px 3px rgba(9, 30, 63, 0.1);
}
/* @media screen and (min-width: 480px) {
  .form {
    width: 480px;
  }
} */
@media screen and (min-width: 768px) {
  .form {
    width: 704px;
  }
}
@media screen and (min-width: 1280px) {
  .form {
    margin-top: 0;
    padding: 20px 24px 22px;
    width: 288px;
    height: 340px;
  }
}

.title {
  font-weight: 600;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-text-color);
}
@media screen and (min-width: 480px) and (max-width: 1279px) {
  .title {
    font-size: 14px;
    line-height: 1.2;
  }
  .resultsWrapper {
    display: flex;
    flex-direction: row;
  }
}
.wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) and (max-width: 1279px) {
  .wrapper {
    width: 240px;
    margin-top: 27px;
    margin-bottom: 20px;
    margin-right: 32px;
  }
}
.button {
  display: flex;
  justify-content: center;
}
.button:disabled {
  opacity: 0.5;
}
@media screen and (min-width: 480px) and (max-width: 1280px) {
  .button {
    margin-top: 50px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .button {
    width: 120px;
  }
}

.statisticsTitle {
  display: block;
  position: relative;
  margin-top: 24px;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-text-color);
}
.statisticsTitle::before {
  content: '';
  border-bottom: 1px solid #e0e5eb;
  background-color: #e0e5eb;
  display: block;
  top: 6px;
  left: 5px;
  width: 71px;
  position: absolute;
}
.statisticsTitle::after {
  content: '';
  position: absolute;
  display: block;
  top: 6px;
  right: 5px;
  width: 71px;
  border-bottom: 1px solid #e0e5eb;
  background-color: #e0e5eb;
}
@media screen and (min-width: 480px) and (max-width: 1279px) {
  .statisticsTitle {
    margin-top: 20px;
    margin-bottom: 6px;
    text-align: left;
  }
  .statisticsTitle::before {
    display: none;
  }
  .statisticsTitle::after {
    top: 6px;
    left: 80px;
    width: 159px;
  }
}

.iconSvg {
  position: absolute;
  display: block;
  top: 40px;
  right: 4px;
  width: 13px;
  height: 7px;
  pointer-events: none;
}

.fieldWrapper {
  position: relative;
}
.fieldWrapper:first-child {
  margin-right: 20px;
}

.input {
  display: block;
  margin-top: 4px;
  padding: 10px;
  width: 110px;
  height: 42px;
  background: #f6f7fb;
  border: 1px solid #a6abb9;
  outline: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  color: var(--main-text-cl);
}

.error {
  color: red !important;
  font-size: 11px;
  position: absolute;
  bottom: -28px;
  left: 0;
  color: var(--error-cl);
}

.statistics {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  overflow-x: hidden;
}
@media screen and (min-width: 1280px) {
  .statistics {
    height: 100px;
  }
}

.name {
  font-size: 11px;
  color: var(--secondary-text-color);
}
.item {
  display: flex;
  margin-bottom: 4px;
  height: 20px;
}
.day {
  margin-right: 30px;
}
.time {
  margin-right: 27px;
  color: var(--secondary-text-color);
}
.pages {
  margin-left: 4px;
  color: var(--secondary-text-color);
}
