.tableBox {
  margin-top: 20px;
  margin-bottom: 32px;
}

.titleBookWrapper {
  display: flex;
  height: 60px;
}

.titleBook {
  display: flex;
  align-items: center;
  font-style: normal;
  padding-left: 9px;
  padding-right: 74px;
}

.checkBoxWrapper {
  display: flex;
  align-items: center;
  align-content: center;
}

.icon {
  fill: var(--library-color);
}

.table {
  width: 100%;
  border-spacing: 0 8px;
  border-collapse: separate;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  border-top: 1px solid #e0e5eb;
  border-bottom: 1px solid #e0e5eb;
}

.tableTitleCell {
  text-align: start;
  color: var(--secondary-text-color);
}
.tableTBody > tr {
  border: 1px solid #e0e5eb;
}

/* .tableRow { */
/* background-color: var(--main-color); */
/* border-bottom: 1px solid black; */
/* } */

/* @media screen and (min-width: 1280px) {
  .title {
    margin-top: 32px;
    margin-bottom: 20px;
  }

  .styleTitleBook {
    width: 60%;
  }

  .styleAuthor {
    width: 20%;
  }

  .styleColums {
    width: 10%;
  }
} */

.styleTitleBook {
  width: 40%;
}

.styleAuthor {
  width: 34%;
}

.styleColums {
  width: 13%;
}
